.overview {
  background-color: rgb(223, 223, 208);
  padding-bottom: 30px;
  .intro {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 30px 50px;
    gap: 25px;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    @media screen and (max-width: 750px) {
      flex-direction: column;
      padding: 30px;
      text-align: center;
    }
    .circle-img {
      height: 170px;
      width: 170px;
      object-fit: cover;
      border-radius: 500px;
      @media screen and (max-width: 750px) {
        height: 180px;
        width: 100%;
        border-radius: 30px;
        object-position: center;
      }
    }
  }
  .presentation-title {
    font-family: $font-1;
    margin: 40px auto;
    text-align: center;
    font-size: 1.9rem;
    width: 80%;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 30%;
      height: 0.01rem;
      background: #4f4f4f;
      left: 0;
      top: 50%;
      position: absolute;
    }
    &:after {
      content: "";
      display: block;
      width: 30%;
      height: 0.01rem;
      background: #323232;
      right: 0;
      top: 50%;
      position: absolute;
    }
    @media screen and (max-width: 800px) {
      font-size: 1.7rem;
      &::before,
      &::after {
        width: 15%;
      }
    }
    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
      &::before,
      &::after {
        width: 15%;
      }
    }
  }

  .accommodations {
    display: flex;
    gap: 30px;
    max-width: 90%;
    margin: 0 auto;
    .accomodation {
      height: 600px;
      margin: 0px auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 17px;
      border-radius: 5px;
      background: rgb(255, 255, 255);
      .title-share {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .accomodation-title {
          font-weight: 800;
        }
      }

      .slideshow {
        height: 55%;
      }
      .amenities-text {
        height: 40%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .amenities {
          gap: 3px;
        }
      }

      .accomodation-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          @media screen and (max-width: 1000px) {
            -webkit-line-clamp: 3;
          }
        }
        @media screen and (max-width: 410px) {
          display: none;
        }
      }
    }
    @media screen and (max-width: 840px) {
      flex-direction: column;
    }
  }
}
