.slideshow {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .prevButton,
  .nextButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 24px;
    height: 24px;
    background-color: #ffffffc1;
    border: none;
    cursor: pointer;
    color: rgb(80, 80, 80);
    transition: 0.5s;
    backdrop-filter: blur(1px);
    &:hover {
      color: #565656;
      background-color: rgba(255, 255, 255, 0.867);
    }
  }
  .prevButton {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  .nextButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .more-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
    width: 120px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 3px;
    border: none;
    background: #ffffffc9;
    transition: 0.5s;
    backdrop-filter: blur(1px);
    &:hover {
      width: 130px;
      color: #565656;
      background: rgba(255, 255, 255, 0.867);
      cursor: pointer;
    }
  }
}
