@font-face {
  font-family: "Satoshi Light";
  src: url(/assets/fonts/Satoshi-Light.ttf);
}
@font-face {
  font-family: "Cabin Regular";
  src: url(/assets/fonts/Cabin-Regular.ttf);
}

$font-1: "Satoshi Light";
$font-2: "Cabin Regular";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $font-1;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
}
h1,
h2,
h3 {
  letter-spacing: 0.05rem;
  font-weight: 900;
}

body {
  text-align: center;
  scroll-behavior: smooth;
}
button {
  color: #323232;
}
a {
  color: inherit;
  text-decoration: inherit;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(245, 245, 245);
  }
  100% {
    background-color: rgb(230, 230, 230);
  }
}
.skeleton {
  animation: skeleton-loading 2s linear infinite alternate;
}

.share-icon {
  height: 18px;
  width: 18px;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    scale: 0.95;
  }
}
.amenities {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2px;
  font-size: 1.1rem;
  & > div {
    background: white;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border: 0.01rem solid rgb(227, 227, 227);
    padding: 4px 5px;
    border-radius: 5px;
    img {
      height: 15px;
      width: 15px;
    }
  }
}
.share-container {
  display: flex;
  align-items: center;
}
